@font-face {
    font-family: MonumentWideB;
    src: url(/media/typography/PPMonumentWide-Black.otf)
}

:root{
    --maintypo: MonumentWideB;
    --kanjitypo: "Yusei Magic", sans-serif;
    --black:rgba(3, 8, 18, 1);
    --blue:rgba(21, 80, 167, 1);
    --orange:rgba(255, 158, 39, 1);
    --red:rgba(244, 32, 74, 1);
    --white:rgba(241, 241, 249, 1);
    --xsmall:0.7rem;
    --small:1rem;
    --mid:2rem;
    --large:3rem;
    --extra:4rem
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* font-size: 20px; */

}

body{
    background-color: var(--black);
    width: 100%;
    height: 100%;
    overflow-x: hidden;   
}

img{
    width: 100%;
    height: auto;
    vertical-align: middle;
    object-fit: cover;
}

video{
    width: 100%;
    height: auto;
    vertical-align: middle;
    object-fit: cover;
}


::placeholder{
    font-family: var(--maintypo);
    text-align: center;
}

.fa-youtube{
    color: var(--red);
}

.fa-square-instagram{
    color: var(--orange);
}

.fa-tiktok{
    color: var(--blue);
}

.fa-square-x-twitter{
    color: var(--white);
}


/* MENÚ */
nav{
    position: fixed;
    width: 100%;
    padding: var(--small);
    z-index: 9999;
    background-color: var(--black);
    
}

nav> .nav-top{
    display: flex;
    justify-content: space-between;
    padding-bottom: var(--small);
}

nav> .nav-top .menu-search{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: var(--white);
}

nav> .nav-top .menu-icon-r{
    display: flex;
    align-items: center;
    gap: var(--small);

}

nav> .nav-top .menu-icon-r .menu-bars{
    display: none;
}

nav> .nav-top .menu-icon-r .menu-bars, nav> .nav-top .menu-icon-r .menu-cart{
    font-size: 1.5rem;
    color: var(--white);
}

nav> .nav-top .menu-icon-r > a{
    font-family: var(--maintypo);
    font-size: var(--xsmall);
    color: var(--white);
}

nav> .nav-top .menu-search:hover{
    color: var(--orange);
}

nav> .nav-top .menu-icon-r{
    display: flex;
    align-items: center;
    gap: var(--small);
}

nav> .nav-top .menu-icon-r > a:hover{
    color: var(--orange);
}

nav> .nav-top .menu-icon-r .menu-bars:hover{
 color: var(--red);

}

nav> .nav-top .menu-icon-r .menu-cart:hover{
    color: var(--blue);
}

/* IMAGEN DEL NAV */
nav> .nav-top>a{
    display: flex;
    justify-content: center;
    padding-left: var(--mid);

} 

nav> .nav-top>a > img{
   width: 40%;
   height: auto;
   object-fit: cover;
}


hr{
    height: 0.1rem;
    background-color: var(--white);
    
}

nav> .nav-bot> ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: var(--small);
    list-style: none;
}

nav> .nav-bot> ul> li a{
    text-decoration: none;
    font-family: var(--maintypo);
    font-size: var(--xsmall);
    color: var(--white);
    
}

nav> .nav-bot> ul> li a:hover{
    color: var(--orange);
}
/* MENÚ DESPLEGABLE CON HOVER */

.nav-bot {
    text-align: center;   
}

.nav-bot ul {
    list-style-type: none;
}

.nav-bot ul li {
    width: 162px;
}

.nav-bot ul li a {
    display: block;
    text-decoration: none;
    color: var(--white);
    background-color: var(--black);
    padding: 8px;
    position: relative;
}

.nav-bot ul li ul li a {
    width: 160px;
    padding: 8px 0px;
    border-top-color: transparent;
}

.nav-bot ul li ul {
    display: none;
}


.nav-bot ul li.desple-top { 
    float: left;
    margin-right: 1px;
}

.nav-bot ul li a.desple-top, .nav-bot ul li a.desple-bot {
    display: block;
    position: relative;
}

.nav-bot ul li:hover {
    position: relative;
}

.nav-bot ul li a:hover, .nav-bot ul li:hover a.desple-top {
    position: relative;
}

.nav-bot ul li:hover  ul.desple-bot, .nav-bot ul li a:hover  ul.desple-bot{
    display: block;
    position: absolute;left: 0px;
}


.nav-bot ul li ul li a:hover ul.nivel3, .nav-bot ul li ul li:hover ul.nivel3 {
    display: block;
    position: absolute;
    left: 161px;
    top:0px;
}

nav ul li ul li a:hover {
    position: relative;
}

/* MENU FUERA DEL DESPLEGABLE */

nav> .nav-bot> ul> .button-ticket> a{
    font-family: var(--maintypo);
    background-color: var(--orange);
    border-radius: var(--small);
    padding: var(--xsmall);
    color: var(--black);

}

nav> .nav-bot> ul> .button-ticket> a:hover{
    background-color: var(--white);
    color: var(--black);

}

nav> .nav-bot900{
    display: none;
}

/* EFECTO PARALAX */
main{
 padding-top:var(--mid) ;   
}

main> .background-video{
  position: fixed;
  background-attachment: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1; 
  padding-top: 7rem;
}

main> .background-video video{
   min-width: 50%;
   min-height: 50%;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
   
main> .parallax-text{
   position: relative;
   z-index: 9998;
   display:flex ;
   align-items: center;
   color: var(--white);
   padding-top: var(--small);
}

/* CARRUSEL */
.carrusel {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-family: var(--maintypo);
  font-size: var(--mid);

}

.carrusel > div {
  position: absolute;
  z-index: 9998;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.carrusel > div.active {
  opacity: 1;
  z-index: 1;
}

.carrusel-img video,
.carrusel-img img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.carrusel-text {
  position: absolute;
  bottom: 80px;
  left: 50px;
  color: var(--white);
 
}

.carrusel-text h1{
  padding-bottom: var(--mid);
 
}

.carrusel-text a{
  background-color: var(--orange);
  color: var(--black);
  padding: var(--small);
  text-decoration: none;
  border-radius: var(--small); 
  font-size: var(--small);
}

.carrusel-text a:hover{
  background-color: var(--white);
  color: var(--black);
}



/* SECcIONES DE LA HOME */

#demo{
    color: var(--white);
    font-family: var(--maintypo);
    font-size: 7rem;
    text-align: center;
}

/* FEST INTRO  */

.fest-intro, .fest-page, .artist-lineup,.news,.news-page, .experience{
    color: var(--white);
    
}

.fest-intro, .fest-page{
    display: flex;
    align-items: center;
    font-family: var(--maintypo);

}

.fest-intro {
    margin: var(--small);
}

.fest-page{
    padding: 20vh var(--mid) var(--mid) var(--mid);;

}

.fest-intro .festIntro-right,.fest-page .festIntro-right{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.fest-intro .festIntro-right .festIntro-text, .fest-page .festIntro-right .festIntro-text{
    width: 50vw ;
    padding-right: var(--mid);
}


.fest-intro .festIntro-right .festIntro-btn, .fest-page .festIntro-right .festIntro-btn {
    display: flex;
    justify-content: flex-end;
    padding-right: var(--mid);
}

.fest-intro .festIntro-right .festIntro-btn a, .fest-page .festIntro-right .festIntro-btn a{
    padding: var(--small) var(--large) var(--small) var(--large);
    border-radius: var(--small);
    background-color: var(--orange);
    color: var(--black);
    text-decoration: none;
}

.fest-intro .festIntro-right .festIntro-btn a:hover, .fest-page .festIntro-right .festIntro-btn a:hover{
    background-color: var(--white);
}

.fest-intro .festIntro-right .festIntro-text h2,.fest-page .festIntro-right .festIntro-text h2{
    font-size: var(--extra);  
    color: var(--blue);
}

.fest-intro .festIntro-right .festIntro-text h2 > span,.fest-page .festIntro-right .festIntro-text h2 > span{
    font-family: var(--kanjitypo);
}

.fest-intro .festIntro-right .festIntro-text p,.fest-page .festIntro-right .festIntro-text p{
    padding-top: var(--mid);
    text-align: justify; 
}

.fest-intro .festIntro-right .festIntro-img img,.fest-page .festIntro-right .festIntro-img img{
    width: 50vw;
}

/* SECcIONES DE LA HOME ARTIST LINE UP*/
.artist-hometitle{
    font-family: var(--maintypo);
    padding-top: var(--extra);
    text-align: center;
    color: var(--white);
    font-size: var(--extra);
}

.artist-homesection{
    margin: var(--mid);
}

.artist-homesection .day-artists h1{
    padding-top: var(--mid);
    font-family: var(--maintypo);
    text-align: center;
}

.artist-homesection .artist-cardhome {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding-top: var(--mid);
    gap: var(--mid);
    width: 100%;
    font-family: var(--maintypo);
}

.artist-homesection .artist-cardhome img {
    height: 200px;
}

.alu-btn{
    margin: var(--extra);
    display: flex;
    justify-content: center;      
}

.alu-btn a{
    font-family: var(--maintypo);
    padding: var(--small);
    border-radius: var(--small);
    background-color: var(--blue);
    color: var(--white);
    text-decoration: none;
}

.alu-btn a:hover{
    background-color: var(--white);
    color: var(--blue);
}

/* SECCIONES DE LA HOME EXPERIENCIA*/
.experience {
    font-family: var(--maintypo);
    padding: var(--mid);
}

.experience>div{
    text-align: center;
}

.experience>div> h2{
    font-size: var(--extra);    
}

.experience>div> p {
    padding-top: var(--mid);
    color: var(--orange);
}

/* SECCIONES DE LA HOME NOTICIAS*/
.news, .news-page {
    font-family: var(--maintypo);
}

.news{
    padding: var(--mid);

}

.news-page {
    padding: 20vh var(--mid) var(--mid) var(--mid);
}

.news> .new-title h2, .news-page> .new-title h2 {
    text-align: center;
    font-size: var(--extra);
}

.news .noticias-fila, .news-page .noticias-fila  {
   display: flex;
   justify-content: space-between;
   align-items: center;
   text-align: center;
}

.news .noticias-fila .tarjeta-noticias, .news-page .noticias-fila .tarjeta-noticias{
   padding: var(--mid);
}

.news .noticias-fila .tarjeta-noticias .tn-img img, .news-page .noticias-fila .tarjeta-noticias .tn-img img{
 
    height: 200px;
}

.news .tarjeta-noticias .tn-btn a, .news-page .tarjeta-noticias .tn-btn a{
    font-family: var(--maintypo);
    padding: var(--small);
    border-radius: var(--small);
    background-color: var(--blue);
    color: var(--white);
    text-decoration: none;
    
}

.news .tarjeta-noticias .tn-btn, .news-page .tarjeta-noticias .tn-btn {
    padding-top: var(--mid);
    display: flex;
    justify-content: center
    
}

.news .tarjeta-noticias .tn-btn a:hover, .news-page .tarjeta-noticias .tn-btn a:hover{
    background-color: var(--white);
    color: var(--blue);  
}

/* ARTIST LINE-UP */

/* Volumen */
.volume{
    position: fixed;
    z-index: 9998;
    bottom: 5vh;
    right: 3vw;
    color: var(--white);
    font-size: 2rem;
}

.scroll-down {
    transform: translateX(-50%);
    position: absolute;
    top:80vh;
    right:45%;
    color: var(--white);
}

.scroll-down p{
    font-family: var(--maintypo); 
    font-size: var(--small);
    
}

.scroll-down i{
    padding-top: var(--small);
    font-size: var(--extra);
    
}

.artist-title{
    margin-top: 100vh;
    font-family: var(--maintypo); 
    color: var(--white);
    font-size: var(--extra);
    text-align: center;
}

.artist-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--white);
    padding: var(--extra);
    font-family: var(--maintypo);
    text-align: center;
}

.day-artists{
    padding-bottom: var(--mid);
    
}

.artist-section > .artist-card .artist-pics, .artist-bot > .artist-card .artist-pics{
     position: relative;
     overflow: hidden;
}

.artist-section > .artist-card .artist-pics img,.artist-bot > .artist-card .artist-pics img{
    width: 100%;
    object-fit: cover;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

/* HOVER DE LAS IMAGENES DE ARTIST LINE UP  */
.artist-pics:hover img {
  transform: scale(1.1);
  opacity: 1;
}

.artist-bot >.artist-card.artist-pics:hover img {
  transform: scale(1.1);
  opacity: 1;
}

/* TEXTO QUE APARECE AL HACER HOVER EN LA IMAGEN */
.artist-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--white);
  background: #000000;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.58) 23%, rgba(255, 255, 255, 0.38) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s ease;
  text-align: center;
  padding: var(--small);
  font-family: var(--maintypo);
}

.artist-pics:hover .artist-info {
  opacity: 1;
}

.artist-section  .artist-card .artist-info {
    font-family: var(--maintypo);
    text-align: center;
}

.artist-section  .artist-card .artist-info ul li{
  list-style: none;
}

.artist-section .artist-bot{
    display: grid;
    grid-template-columns: auto auto auto;
    padding-top: var(--mid);
    gap: var(--mid);
    width: 100%;
}

.artist-section .artist-bot img{
    height: 300px;
}

/* INFORMATION */
.info{
    padding: 30vh var(--mid) var(--mid) var(--mid);
    font-family: var(--maintypo);
    color: var(--white);
}

.info >h2{
    text-align: center;
    font-size: var(--extra);
}

.info >p{
    text-align: center;
    color: var(--orange);
}

.info >ul{
    padding-top: var(--mid);
    display:grid;
    grid-template-columns: auto auto auto;
    gap: var(--mid);
}

.info >ul li {
   list-style: none;   
}

.info >ul li p{
    text-align: justify; 
}

.info >ul .train span{
     color: var(--orange);
}

.info >ul .bus span{
    color: var(--red);
     
}

.info >ul .car span{
    color: var(--blue);
     
}

iframe{
    padding-top: var(--mid);
    width: 100%;
}

/* CONTACT */
#contact{
    padding: 23vh var(--mid) var(--small) var(--mid);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--maintypo);
    color: var(--white);
}

.contact-info{
    padding: var(--small);
    border: 0.1rem var(--white) solid;
}

legend{
    font-size: var(--extra);
    text-align: center;
}

.name input, .e-mail input,.comment input, .comment textarea{
    width: 50%;
    border-radius:var(--small) ;
}

.name input, .e-mail input,.comment input{
    padding: var(--small);

}

.name label{
    padding-top: var(--small);
    color: var(--orange);
}

.e-mail label{
    color: var(--red);
}

.comment label{
    color: var(--blue);
}

.comment input{
    font-family: var(--maintypo);
}


textarea{
    font-family: var(--maintypo);
    text-align: center;
    padding: var(--small);
}

.name, .e-mail,.comment,.comment{
    display: flex;
    flex-direction: column;
    align-items:center;
    padding-bottom: var(--small)
}

.notformulario{
    text-align: center;
    display: flex;
    justify-content: center;
    gap: var(--small);
}

.notformulario .contact-info2{
    display: flex;
    gap: var(--small);
}


/* ENTRADAS */
#tickets{
    font-family: var(--maintypo);
    padding-top: 20vh;
    color: var(--white);
}

#tickets h1{
    font-size: var(--extra);
    text-align: center;
}

.tarjetas-pago{
  padding-top: var(--mid);
  display: flex;
  justify-content: center;
  gap: var(--mid);
  flex-wrap: wrap;
}

.tarjetas-pago h2{
    font-size: 1.5rem;
}

.tarjetas-pago p {
    padding-top: var(--mid);   
}

.tarjetas-pago .price{
    font-size: 1.5rem;    
    padding-top: var(--extra);
    text-decoration: none;   
}

.tarjetas-pago .price a{
    text-decoration: none;
    
}

.ticket01, .ticket02, .ticket03, .ticket04{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--red);
    border-radius: var(--mid);
    padding: var(--mid);
}

.ticket01 {
    background-color: var(--orange);
    
}

.ticket02 {
    background-color: var(--red);
    
}

.ticket03 {
    background-color: var(--blue);
    
}

.ticket04 {
    background-color: var(--white);
    color: var(--black);
    
}
.ticket04 .ticket-info > h2{
    color: var(--black);
    
}

.ticket01 > .price a,
.ticket02 > .price a,
.ticket03 > .price a,
.ticket04 > .price a {
    padding: var(--small);
    border-radius: var(--small);
    display: flex;
    justify-content: center;
    background-color: var(--black);
    text-decoration: none;
     border: 0.1rem solid var(--black);  
}

.ticket01 > .price a{
    color: var(--orange);  
}

.ticket02 > .price a{
    color: var(--red);   
}

.ticket03 > .price a{
    color: var(--blue);
    
}

.ticket04 > .price a{
    color: var(--white);
}
    
.ticket01 > .price a:hover{
    background-color: 
    var(--orange);
    color: var(--black);
    
}

.ticket02 > .price a:hover{
    background-color: var(--red);
    color: var(--black);
    
}

.ticket03 > .price a:hover{
    background-color: var(--blue);
    color: var(--black);
    
}

.ticket04 > .price > a:hover{
    background-color: var(--white);
    color: var(--black);
    
}

/* VENTANA MODAL  */
#modalWindow {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.75);
    opacity: 0;

    /* Esto permite animar la propiedad display de none a block */
    transition: all 0.3s ease-in-out;
    transition-behavior: allow-discrete;
}

#modalWindow.show-modal {
    display: block;
    opacity: 1;
}

#modalWindow .modal-content {
    background-color: var(--white);
    color: var(--black);
    font-family: var(--maintypo);
    margin: 15% auto;
    padding: var(--mid);
    max-width: 700px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#modalWindow .modal-content h2 {
    font-size: var(--mid);
}

#modalWindow .modal-content >p {
   padding-top: var(--small);
   padding-bottom: var(--mid);
}

#modalWindow .modal-content hr {
    color: var(--black);
}

#modalWindow .modal-content .close {
    color: var(--black);
    font-size: var(--mid);
    font-weight: bold;
    align-self: flex-end;
    cursor: pointer;
    margin-right: 10px;
}

/* INTERIOR DEL MODAL WINDOW  */
.total-price-cont{
    display: flex;
    justify-content: space-around;
    padding: var(--mid);
}

#buyTicket form div{
    display: flex;
    flex-direction: column;
}

#buyTicket form input[type="submit"] {
    font-family: var(--maintypo);
    padding: var(--small);
    background-color: var(--black);
    color: var(--white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 0.2rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.4rem;
}

#buyTicket form input[type="submit"]:hover {
    background-color:var(--orange);
    color: var(--black);
}

#buyTicket form input[data-price="15000"],#buyTicket form input[data-price="21500"],#buyTicket form input[data-price="44500"]{
    text-align: center;
    font-family: var(--maintypo);
}



#totalPrice{
    color: var(--red);
}

/* MARQUESINA  */
.marquesina, .marquesina-index, .marquesina-artist  {
    margin: 0 auto;
    padding: 20px 0;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    white-space: nowrap;
    /* ... */
    > * {
      flex: 0 0 100%;
    }

     &:hover .group {
      animation-play-state: paused;
  }
} 

.marquesina .group, .marquesina-index .group, .marquesina-artist .group{
    display: flex;
    gap: var(--mid);
    padding-right: 20px;
    display: inline-flex;
    will-change: transform; 
    animation: scrolling 20s linear infinite;

}

.marquesina .group .card,.marquesina-index .group .card, .marquesina-artist .group .card {
    flex: 0 0 auto;
    font-family: var(--maintypo);
    font-size: var(--extra);
    margin-right: 5rem;
    white-space: nowrap;
}

.marquesina .group .card {
    color: var(--white);
}

.marquesina-index .group .card, .marquesina-artist .group .card {
    color: var(--orange);
}


@keyframes scrolling {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
}

/* FOOTER */
footer{
    padding: var(--small);
    background-color: var(--black);
    color: var(--white);
    font-family: var(--maintypo);
}


footer .footer-top{
    padding-bottom: var(--mid);
    display: flex;
    justify-content: space-between;
}

footer .footer-top .newsletter{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


footer .footer-top .newsletter label{
    font-size: var(--mid);
}

footer .footer-top .newsletter input{
    padding: 0.5rem;
    font-family: var(--maintypo);
}

.newslettertype input::placeholder{
    color: var(--red);
}

footer .footer-top .newsletter button{
    padding: 0.5rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    background-color: var(--red);
    color: var(--black);
    font-family: var(--maintypo);
}

footer .footer-top .newsletter button:hover{
    background-color: var(--white);
    color: var(--red);
      
}

footer .footertopright{
    display: flex;
}

footer .footertopright .footer-contact{
    font-size: var(--xsmall);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    padding-right: var(--mid);

}

footer .footertopright .footer-contact p{

    padding: var(--small);
}

footer .footertopright .iconosrs{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: var(--extra);
}

footer .footertopright .iconosrs .iconos-top, footer .footertopright .iconosrs .iconos-bot{
    display: flex;
    justify-content: space-between;

}

footer .footertopright .iconosrs .iconos-top{
     gap: var(--small);
}

footer .footertopright .iconosrs .iconos-bot{
    align-items: center;

}

footer .footertopright .iconosrs .iconos-bot .fa-tiktok{
    font-size: var(--large);
    padding-left: var(--small);
}

.footer-bot{
    padding-top: var(--mid);
    padding-bottom: var(--mid);
    display: flex;
    justify-content: space-between;
}

footer .footerbotleft{
    display: flex;
    gap: var(--large);
}

footer .footerbotleft .footer-links ul li {
    list-style: none;

}

footer .footerbotleft .footer-links ul li a{
    text-decoration: none;
    color: var(--white);
    font-size: var(--xsmall);

}

footer .footerbotleft .footer-links ul li .link01:hover{
    color: var(--orange);

}

footer .footerbotleft .footer-links ul li .link02:hover{
    color: var(--red);
}

footer .footerbotleft .footer-links ul li .link03:hover{
    color: var(--blue);
}

footer .footerbotright{
    display: flex;
    align-items: flex-end;
}

footer .footerbotright .copyright{
    font-size: var(--xsmall);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: right;
    padding-right: var(--mid);    
}

/* Media querys */

 /* TABLET */

@media (max-width: 950px) {

/* NAV  HAMBURGUESA*/
nav> .nav-top .menu-icon-r .menu-bars{
    display: block;
    font-size: 1.5rem;
    color: var(--white);
}

nav> .nav-top .menu-icon-r .menu-bars:hover{
 color: var(--red);

}

.nav-bot {
    display: none;   
}

.carrusel {
   padding-top: 0;   
}

/* IMAGEN DEL NAV */
nav> .nav-top>a{
    padding-left: var(--extra);

} 

/* MENU DESPLEGABLE */
nav> .nav-bot900{
    display: none;
}

.nav-bot900.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


nav> .nav-bot900> ul{
    display: flex;
    flex-direction: column;
    gap: var(--mid);
    
}

nav> .nav-bot900 ul .desple-top div {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: var(--small); 
}


nav> .nav-bot900> ul .desple-top a, nav> .nav-bot900> ul .desple-top p {
    color: var(--white);
    font-family: var(--maintypo);
    font-size: var(--mid);
    text-decoration: none;   
}

nav> .nav-bot900> ul .button-ticket a{
    display: flex;
    justify-content: center; 
    border-radius: var(--small);
    padding: var(--small);
    background-color: var(--orange);
    color: var(--black);
    font-family: var(--maintypo);
    font-size: var(--mid);
    text-decoration: none;
}

nav> .nav-bot900> ul .desple-top  .desple-bot .desp-alu>a {
    color: var(--orange);
} 

nav> .nav-bot900> ul .desple-top .desple-bot .desp-info>a {
    color: var(--red); 
} 

nav> .nav-bot900> ul .desple-top  .desple-bot .desp-exp>a {
    color: var(--blue);
   
} 

.nav-bot900 .desple-bot {
  display: none;
  flex-direction: column;
  text-align: center;
  gap: 0.5rem;
  transition: all 0.3s ease;
}

.nav-bot900 .desple-bot.open {
  display: flex;
}

 #demo{
    padding-top: var(--mid);
    font-size: 3.5rem;
}

/* SECIONES DE LA HOME FEST INTRO*/
.fest-intro, .fest-page{
    flex-direction: column;
}

.fest-intro .festIntro-right, .fest-page .festIntro-right {
    padding-left: var(--mid);
}


.fest-intro .festIntro-right .festIntro-text, .fest-page .festIntro-right .festIntro-text{
    width: 100vw ;

}

.fest-intro .festIntro-right .festIntro-btn , .fest-page .festIntro-right .festIntro-btn {
    padding-bottom: var(--mid);
   
}

/* SECIONES DE LA HOME ARTIST LINE UP*/

.artist-homesection .artist-cardhome {
    display: grid;
    grid-template-columns: auto auto;
   
}

/* SECIONES DE LA HOME INFO*/ 

.info >ul{
    padding-bottom: var(--mid);   
}

/* ARTIST LINE-UP */

.artist-section .artist-bot{
    grid-template-columns: auto auto;
}

/* NOTICIAS  */
.news .noticias-fila, .news-page .noticias-fila{
   flex-wrap: wrap;
}

.news .noticias-fila .tarjeta-noticias,.news-page .noticias-fila .tarjeta-noticias {
    width: 100%;
}

/* INFO */
    .info {
        padding: 20vh var(--mid) var(--mid) var(--mid); 
    }

    .info >ul{
    grid-template-columns: auto ;

}

/* FOOTER */
 footer{
    display: flex;
    flex-direction: column;
    }

    .footer-top{
    flex-direction: column;

    }

    .footer-bot{
    flex-direction: column;

    }

    footer .footertopright{
    padding-top: var(--small);
    display: flex;
    justify-content: space-between;
    }
    
    footer .footertopright .footer-contact{
    text-align: left;
    }

    footer .footertopright .iconosrs .iconos-top,  footer .footertopright .iconosrs .iconos-bot{
    justify-content: flex-start;
   }

    footer .footertopright .iconosrs .iconos-bot{
    gap: var(--mid);
   }

   footer .footerbotleft{
    display: flex;
   
    }

    footer .footerbotright{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    }

    footer .footerbotright .copyright{
    padding-top: var(--large);
    text-align: left;
    font-size: var(--small);
        
    }

    footer .footerbotright img{
    width: 50%;
    height: auto;
    object-fit: cover;
    padding-top: var(--mid);

    }

}

@media (max-width: 600px) {
    #demo{
        font-size: var(--mid);
    }

    /* SECIONES DE LA HOME INTRO*/
    .festIntro-text p{
        padding: var(--small);
        font-size: 0.8rem;
    }

    /* SECIONES DE LA HOME ARTIST LINE UP*/
    .artist-homesection .artist-cardhome {
    grid-template-columns:  auto;
    
    }

    /* SECIONES DE LA HOME EXP*/
    .experience>div h2{
        font-size: var(--mid);
    }

     /* ARTIST LINE-UP */
    .artist-section .artist-bot{
     grid-template-columns: auto;
    }



    /* FOOTER */
    footer .footer-top .newsletter button{
    padding-left: var(--small);
    padding-right: var(--small);
    
}


}