@font-face {
    font-family: MonumentWideB;
    src: url(/media/typography/PPMonumentWide-Black.otf)
}

@font-face {
    font-family: MonumentWideL;
    src: url(/media/typography/PPMonumentWide-Light.otf)
}

@font-face {
  font-family: Boska-Medium;
  src: url('/media/typography/Fonts/OTF/Boska-Medium.otf');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

:root{
    --navtypo:MonumentWideB;
    --maintypo: MonumentWideB;
    --sectypo: Boska-Medium;
    --kanjitypo: "Yusei Magic", sans-serif;
    --black:rgba(3, 8, 18, 1);
    --blue:rgba(21, 80, 167, 1);
    --orange:rgba(255, 158, 39, 1);
    --red:rgba(244, 32, 74, 1);
    --white:rgba(241, 241, 249, 1);
    --small:1rem;
    --mid:2rem;
    --large:3rem;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* font-size: 20px; */

}

body{
    background-color: var(--black);
    width: 100vw;
    height: 100vh;
    
}

img{
    width: 100%;
    height: auto;
    vertical-align: middle;
    object-fit: cover;
}

video{
    width: 100%;
    height: auto;
    vertical-align: middle;
    object-fit: cover;
}

/* MENÚ */
nav{
    position: fixed;
    width: 100%;
    padding: var(--small);
    z-index: 9999;
    background-color: var(--black);
    
}

nav> .nav-top{
    display: flex;
    justify-content: space-between;
    padding-bottom: var(--small);
}

nav> .nav-top .menu-search{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: var(--white);
}

nav> .nav-top .menu-icon-r{
    display: flex;
    align-items: center;
    gap: 1rem;

}

nav> .nav-top .menu-icon-r .menu-bars{
    display: none;
}

nav> .nav-top .menu-icon-r .menu-bars, nav> .nav-top .menu-icon-r .menu-cart{
    font-size: 1.5rem;
    color: var(--white);
}

nav> .nav-top .menu-icon-r > a{
    font-family: var(--maintypo);
    font-size: 0.7rem;
    color: var(--white);
}

nav> .nav-top .menu-search:hover{
    color: var(--orange);
}

nav> .nav-top .menu-icon-r{
    display: flex;
    align-items: center;
    gap: 1rem;
}

nav> .nav-top .menu-icon-r > a:hover{
    color: var(--orange);
}

nav> .nav-top .menu-icon-r .menu-bars:hover{
 color: var(--red);

}

nav> .nav-top .menu-icon-r .menu-cart:hover{
    color: var(--blue);
}

/* IMAGEN DEL NAV */
nav> .nav-top>a{
    display: flex;
    justify-content: center;
    padding-left: var(--mid);

} 

nav> .nav-top>a > img{
   width: 40%;
   height: auto;
   object-fit: cover;
}


hr{
    height: 0.1rem;
    background-color: var(--white);
    
}

nav> .nav-bot> ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: var(--small);
    list-style: none;
}

nav> .nav-bot> ul> li a{
    text-decoration: none;
    font-family: var(--navtypo);
    font-size: 0.7rem;
    color: var(--white);
    
}

nav> .nav-bot> ul> li a:hover{
    color: var(--orange);
}
/* MENÚ DESPLEGABLE CON HOVER */

.nav-bot {
    text-align: center;   
}

.nav-bot ul {
    list-style-type: none;
}

.nav-bot ul li {
    width: 162px;
}

.nav-bot ul li a {
    display: block;
    text-decoration: none;
    color: var(--white);
    background-color: var(--black);
    padding: 8px;
    position: relative;
}

.nav-bot ul li ul li a {
    width: 160px;
    padding: 8px 0px;
    border-top-color: transparent;
}

.nav-bot ul li ul {
    display: none;
}


.nav-bot ul li.desple-top { 
    float: left;
    margin-right: 1px;
}

.nav-bot ul li a.desple-top, .nav-bot ul li a.desple-bot {
    display: block;
    position: relative;
}

.nav-bot ul li:hover {
    position: relative;
}

.nav-bot ul li a:hover, .nav-bot ul li:hover a.desple-top {
    position: relative;
}

.nav-bot ul li:hover  ul.desple-bot, .nav-bot ul li a:hover  ul.desple-bot{
    display: block;
    position: absolute;left: 0px;
}


.nav-bot ul li ul li a:hover ul.nivel3, .nav-bot ul li ul li:hover ul.nivel3 {
    display: block;
    position: absolute;
    left: 161px;
    top:0px;
}

nav ul li ul li a:hover {
    position: relative;
}

/* MENU FUERA DEL DESPLEGABLE */

nav> .nav-bot> ul> .button-ticket> a{
    font-family: var(--navtypo);
    background-color: var(--orange);
    border-radius: 1rem;
    padding: 0.7rem;
    color: var(--black);

}

nav> .nav-bot> ul> .button-ticket> a:hover{
    background-color: var(--white);
    color: var(--black);

}

nav> .nav-bot900{
    display: none;
}

/* EFECTO PARALAX */
main{
 padding-top:var(--mid) ;   
}

main> .background-video{
  position: fixed;
  background-attachment: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1; 
  padding-top: 7rem;
}

main> .background-video video{
   min-width: 50%;
   min-height: 50%;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
   
main> .parallax-text{
   position: relative;
   z-index: 9998;
   display:flex ;
   align-items: center;
   color: var(--white);
   padding-top: var(--small);
}

/* CARRUSEL */
.carrusel {
  padding-top: 20vh;
  position: relative;
  width: 100%;
  height: 90vh;
  overflow: hidden;
}

.carrusel > div {
  position: absolute;
  z-index: 9998;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.carrusel > div.active {
  opacity: 1;
  z-index: 1;
}

.carrusel-img video,
.carrusel-img img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.carrusel-text {
  position: absolute;
  bottom: 80px;
  left: 50px;
  color: white;
  text-shadow: 0 0 10px rgba(0,0,0,0.6);
}


/* SECIONES DE LA HOME */

.fest-intro{
     
}

.fest-intro,.artist-lineup,.news,.experience{
  
  color: var(--white);

}

/* SECIONES DE LA HOME ARTIST LINE UP*/
.artist-hometitle{
    padding-top: 4rem;
    text-align: center;
    color: var(--white);
    font-size: 4rem;

}

.artist-homesection .day-artists h1{
     padding-top: var(--mid);
}

.artist-homesection .artist-cardhome {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding-top: var(--mid);
    gap: var(--mid);
    width: 100%;

}

.artist-homesection .artist-cardhome img {
   
    height: 200px;

}

.alu-btn{
    margin: 4rem;
    display: flex;
    justify-content: center;
       
}


.alu-btn a{
    font-family: var(--maintypo);
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--blue);
    color: var(--white);
    text-decoration: none;
}

.alu-btn a:hover{
    background-color: var(--white);
    color: var(--blue);

}


/* SECIONES DE LA HOME NOTICIAS*/
.news .noticias-fila  {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.news .noticias-fila .tarjeta-noticias{
   padding: var(--mid);
}

.news .tarjeta-noticias .tn-img{
    
}


/* ARTIST LINE-UP */
.artist-title{
    margin-top: 100vh; 
    color: var(--white);
    font-size: 4rem;
}

.artist-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--white);
    padding: 4rem;
}

.day-artists{
    padding-bottom: var(--mid);
    
}

.artist-section > .artist-card .artist-pics{

}

.artist-section > .artist-card .artist-pics img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.artist-section .artist-bot{
    display: grid;
    grid-template-columns: auto auto auto;
    padding-top: var(--mid);
    gap: var(--mid);
    width: 100%;
}

.artist-section .artist-bot img{
    height: 300px;
}

 
.agenda{
    color: var(--white);
    
}

.agenda .agenda-line{
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.agenda .agenda-line p{
    background-color: var(--blue);
    padding: 3rem;
}

.agenda .agenda-line img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}


/* ENTRADAS */
#tickets{
    font-family: var(--maintypo);
    padding-top: 20vh;
    color: var(--white);

}

#tickets h1{
    font-size: 4rem;
}

.tarjetas-pago{
  padding-top: var(--mid);
  display: flex;
  justify-content: center;
  gap: var(--mid);
  flex-wrap: wrap;

}

.tarjetas-pago h2{
    font-size: 1.5rem;
}

.tarjetas-pago p {
    padding-top: var(--mid);
    
}

.tarjetas-pago .price{
    font-size: 1.5rem;    
    padding-top: 4rem;
    text-decoration: none;
    
}

.tarjetas-pago .price a{
    text-decoration: none;
    
}

.ticket01, .ticket02, .ticket03, .ticket04{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--red);
    border-radius: var(--mid);
    padding: var(--mid);
}

.ticket01 {
    background-color: var(--orange);
    
}

.ticket02 {
    background-color: var(--red);
    
}

.ticket03 {
    background-color: var(--blue);
    
}

.ticket04 {
    background-color: var(--white);
    color: var(--black);
    
}
.ticket04 .ticket-info > h2{
    color: var(--black);
    
}

.ticket01 > .price a,
.ticket02 > .price a,
.ticket03 > .price a,
.ticket04 > .price a {
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    background-color: var(--black);
    text-decoration: none;
     border: 0.1rem solid var(--black); 

   
}

.ticket01 > .price a{
    color: var(--orange);
    
}

.ticket02 > .price a{
    color: var(--red);
    
}

.ticket03 > .price a{
    color: var(--blue);
    
}

.ticket04 > .price a{
   
    color: var(--white);
}
    
.ticket01 > .price a:hover{
    background-color: 
    var(--orange);
    color: var(--black);
    
}

.ticket02 > .price a:hover{
    background-color: var(--red);
    color: var(--black);
    
}

.ticket03 > .price a:hover{
    background-color: var(--blue);
    color: var(--black);
    
}

.ticket04 > .price > a:hover{
    background-color: var(--white);
    color: var(--black);
    
}

/* MARQUESINA  */

.marquesina{
  width: 100%; 
  overflow: hidden;
  box-sizing: border-box; 
  white-space: nowrap;
  padding-left: 100%;
}

.marquesina>p{
    display: inline-block;
    animation: mover-marquesina 10s linear infinite ;
    color: var(--orange);
    font-family: var(--sectypo);
    font-size: 4rem;
    letter-spacing: 1rem;
     margin-right: 5rem;
}

@keyframes mover-marquesina {
  0% {
    transform: translateX(0%); 
  }
  100% {
    transform: translateX(-100%); 
  }
  
}

/* FOOTER */
footer{
    margin: 1rem;
    color: var(--white);
    font-family: var(--navtypo);
}


footer .footer-top{
    padding-bottom: var(--mid);
    display: flex;
    justify-content: space-between;
}

footer .footer-top .newsletter{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


footer .footer-top .newsletter label{
    font-size: var(--mid);
}

footer .footer-top .newsletter input{
    padding: 0.5rem;
    font-family: var(--maintypo);
}

footer .footer-top .newsletter button{
    padding: 0.5rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    background-color: var(--red);
    color: var(--black);
    font-family: var(--maintypo);
}

footer .footer-top .newsletter button:hover{
    background-color: var(--white);
    color: var(--red);
      
}

footer .footertopright{
    display: flex;
}

footer .footertopright .footer-contact{
    font-size: 0.7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    padding-right: var(--mid);

}

footer .footertopright .footer-contact p{

    padding: 1rem;
}

footer .footertopright .iconosrs{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 4rem;
}

footer .footertopright .iconosrs .iconos-top, footer .footertopright .iconosrs .iconos-bot{
    display: flex;
    justify-content: space-between;

}

footer .footertopright .iconosrs .iconos-top{
     gap: 1rem;
}

footer .footertopright .iconosrs .iconos-bot{
    align-items: center;

}

footer .footertopright .iconosrs .iconos-top .fa-youtube{
    color: var(--red);
}

footer .footertopright .iconosrs .iconos-top .fa-square-instagram{
    color: var(--orange);
}

footer .footertopright .iconosrs .iconos-bot .fa-tiktok{
    font-size: 3rem;
    padding-left: 1rem;
    color: var(--blue);
}

footer .footertopright .iconosrs .iconos-bot .fa-square-x-twitter{
    color: var(--white);

}

.footer-bot{
    padding-top: var(--mid);
    display: flex;
    justify-content: space-between;
}

footer .footerbotleft{
    display: flex;
    gap: 3rem;
}

footer .footerbotleft .footer-links ul li {
    list-style: none;

}

footer .footerbotleft .footer-links ul li a{
    text-decoration: none;
    color: var(--white);
    font-size: 0.7rem;

}

footer .footerbotleft .footer-links ul li .link01:hover{
    color: var(--orange);

}

footer .footerbotleft .footer-links ul li .link02:hover{
    color: var(--red);

}

footer .footerbotleft .footer-links ul li .link03:hover{
    color: var(--blue);

}

footer .footerbotright{
    display: flex;
}

footer .footerbotright .copyright{
    font-size: 0.7rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: right;
    padding-right: var(--mid);
    padding-bottom: 1.5rem ;
    
}

/* Media querys */

 /* TABLET */

@media (max-width: 950px) {

/* NAV  HAMBURGUESA*/
nav> .nav-top .menu-icon-r .menu-bars{
    display: block;
    font-size: 1.5rem;
    color: var(--white);
}

nav> .nav-top .menu-icon-r .menu-bars:hover{
 color: var(--red);

}

.nav-bot {
    display: none;   
}

.carrusel {
   padding-top: 0;   
}

/* IMAGEN DEL NAV */
nav> .nav-top>a{
    padding-left: 4rem;

} 

/* MENU DESPLEGABLE */


nav> .nav-bot900{
    display: none;
}

.nav-bot900.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


nav> .nav-bot900> ul{
    display: flex;
    flex-direction: column;
    gap: var(--mid);
    
}

nav> .nav-bot900 ul .desple-top div {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 1rem; 
}


nav> .nav-bot900> ul .desple-top a, nav> .nav-bot900> ul .desple-top p {
    color: var(--white);
    font-family: var(--navtypo);
    font-size: var(--mid);
    text-decoration: none;   
}

nav> .nav-bot900> ul .button-ticket a{
    display: flex;
    justify-content: center; 
    border-radius: 1rem;
    padding: 1rem;
    background-color: var(--orange);
    color: var(--black);
    font-family: var(--navtypo);
    font-size: var(--mid);
    text-decoration: none;
}

nav> .nav-bot900> ul .desple-top  .desple-bot .desp-alu>a {
    color: var(--orange);
} 

nav> .nav-bot900> ul .desple-top .desple-bot .desp-info>a {
    color: var(--red); 
} 

nav> .nav-bot900> ul .desple-top  .desple-bot .desp-exp>a {
    color: var(--blue);
   
} 

.nav-bot900 .desple-bot {
  display: none;
  flex-direction: column;
  text-align: center;
  gap: 0.5rem;
  transition: all 0.3s ease;
}

.nav-bot900 .desple-bot.open {
  display: flex;
}

/* SECIONES DE LA HOME ARTIST LINE UP*/

.artist-homesection .artist-cardhome {
    display: grid;
    grid-template-columns: auto auto;
    
    
}

/* ARTIST LINE-UP */
.artist-section .artist-bot{
    grid-template-columns: auto auto;
}

.fest-intro{
    
}

/* FOOTER */
 footer{
    display: flex;
    flex-direction: column;
    }

    .footer-top{
    flex-direction: column;

    }

    .footer-bot{
    flex-direction: column;

    }

    footer .footertopright{
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    }
    
    footer .footertopright .footer-contact{
    text-align: left;
    }

    footer .footertopright .iconosrs .iconos-top,  footer .footertopright .iconosrs .iconos-bot{
    justify-content: flex-start;
   }

    footer .footertopright .iconosrs .iconos-bot{
    gap: var(--mid);
   }

   footer .footerbotleft{
    display: flex;
   
    }

    footer .footerbotright{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    }

    footer .footerbotright .copyright{
    padding-top: 3rem;
    text-align: left;
    font-size: 1rem;
        
    }

    footer .footerbotright img{
    width: 50%;
    height: auto;
    object-fit: cover;
    padding-top: var(--mid);

    }


}

@media (max-width: 600px) {
    /* SECIONES DE LA HOME ARTIST LINE UP*/
    .artist-homesection .artist-cardhome {
    grid-template-columns:  auto;
    
    }


 /* ARTIST LINE-UP */
    .artist-section .artist-bot{
     grid-template-columns: auto;
}
}